
language: ruby

rvm:
  - 2.1.0

bundler_args: --jobs 7 --without kitchen_vagrant --without development

before_install:
  - export USE_SYSTEM_GECODE=1
  - sudo apt-get -y install libgecode-dev

script: bundle exec rake travis:ci
